@model SolicitudTramites_Web.Models.Dto.RegistroRequestDto


<form method="post">
    <div class="container border p-4">
        
        <div class="row text-center">
            <h1 class="text-primary">Registro de Solicitantes</h1>
        </div>
        
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="row">
            <div class="col-6 form-floating offset-3 pb-2">
                <input asp-for="UsuarioNombre" class="form-control" placeholder="Nombres">
                <label class="form-label text-primary ms-2">Nombres</label>
                <span asp-validation-for="UsuarioNombre" class="text-danger"></span>
            </div>
            <div class="col-6 form-floating offset-3 pb-2">
                @*<input asp-for="UsuarioTipoDocumento" class="form-control" placeholder="Tipo de Documento">*@
                <select class="form-select">
                    <option value="">-- Seleccionar Tipo de Documento --</option>
                    <option value="1">Cédula de Ciudadanía</option>
                    <option value="2">Pasaporte</option>
                    <option value="3">Otro</option>
                </select>
                <label class="form-label text-primary ms-2">Tipo de Documento</label>
                <span asp-validation-for="UsuarioTipoDocumento" class="text-danger"></span>
            </div>
            <div class="col-6 form-floating offset-3 pb-2">
                <input asp-for="UsuarioNroDocumento" class="form-control" placeholder="Nro. de Documento">
                <label class="form-label text-primary ms-2">Nro. de Documento</label>
                <span asp-validation-for="UsuarioNroDocumento" class="text-danger"></span>
            </div>
            <div class="col-6 form-floating offset-3 pb-2">
                <input asp-for="UsuarioDireccion" class="form-control" placeholder="Dirección">
                <label class="form-label text-primary ms-2">Dirección</label>
                <span asp-validation-for="UsuarioDireccion" class="text-danger"></span>
            </div>

            <div class="col-6 form-floating offset-3 pb-2">
                <input asp-for="UserName" class="form-control" placeholder="Username">
                <label class="form-label text-primary ms-2">Username (Correo eletrónico)</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-6 form-floating offset-3 pb-2">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <label class="form-label text-primary ms-2">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-6 offset-3 pb-2">
                <button type="submit" class="form-control btn-primary" value="Submit">Registrar</button>
            </div>
        </div>

    </div>


</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}